.top_header {
    height: auto;
    padding: 5px 20px;
    box-shadow: none;
    border-bottom: none;
    background: url('img/banner_back.jpg') left bottom repeat-x;
    background-position: center;
}

.main_logo {
    margin: 0 auto;
    text-align: center;
}

.main_logo img {
    width: 25%;
    margin: 0 auto;
}


.navbar-brand span {
    padding: 28px 12px;
    background-repeat: no-repeat;
    background-position: left;
    background-origin: content-box;
}

.rounded {
	border-radius: 5px !important;
}

.btn {
    display: inline-block;
    padding: 6px 3px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.social_icon{
text-align: left;margin-top: 15px; margin-left:5px;
}

.social_icon ul li.fb a {
    background-color: #3C5A98;
    color: #fff;
    padding-top: 9px;
    padding-bottom: 7px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 18px;
    /* border: 2px solid #fdfdfd; */
}

.social_icon ul li.fb a:hover {
    background-color: #214797;
}

.social_icon ul li.twit a{
  background-color: #1DA1F2;
  color: #fff;
    padding-top: 9px;
    padding-bottom: 7px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 18px;
  border-radius: 18px;
}

.social_icon ul li.twit a:hover{
  background-color: #0686D4;
}


.social_icon ul li.youtube a{
  background-color: #cc181e;
  color: #fff;
    padding-top: 9px;
    padding-bottom: 7px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 18px;
  border-radius: 18px;
}


.social_icon ul li.youtube a:hover{
  background-color: #A70208;
}

.social_icon ul li.linkedin a{
  background-color: #0A66C2;
  color: #fff;
    padding-top: 9px;
    padding-bottom: 7px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 18px;
  border-radius: 18px;
}


.social_icon ul li.linkedin a:hover{
  background-color: #054C94;
}

.social_icon ul li.pinterest a{
  background-color: #bd081c;
  color: #fff;
    padding-top: 9px;
    padding-bottom: 7px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 18px;
  border-radius: 18px;
}

.social_icon ul li.pinterest a:hover{
  background-color: #850311;
}

.social_icon ul li.instagram a{
  background: radial-gradient( circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90% );
  color: #fff;
    padding-top: 9px;
    padding-bottom: 7px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 18px;
  border-radius: 18px;
}

.social_icon ul li.instagram a:hover{
  background: radial-gradient( circle at 30% 107%, #FDF178 0%, #F8EA57 5%, #FE2C18 45%, #B80380 60%, #0839C7 90% );
}

.main_menu {
    background: #5db5de;
}

.main_menu ul {
    margin: 0;
    padding: 0;
}
.main_menu ul li {
    display: inline-block;
    padding: 8px 10px;
}
.main_menu .active_menu {
    background: #962d22;
}
.main_menu ul li:hover {
    background: #962d22;
}
.main_menu ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}


.pagination {
		display: inline-block;
		margin-top: 15px;
	}


.pagination a {
	color: white;
	padding: 2px 7px;
	text-decoration: none;
	background-color: #277ECD;
	border: 1px solid #277ECD;
	border-radius: 5px;
	font-size: 19px;
	margin: 0px 5px 5px 5px;
	display: inline-block;
}


	.pagination a.active {
		background-color: #CC0000;
		color: white;
		border: 1px solid #CC0000;
	}

	.pagination a:hover:not(.active) {background-color: #0056A3;}



.next_page a {
    background: #0056A3;
    width: auto;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius : 5px;
    font-size:18px;
}

.next_page a:hover {
background: #962d22;
color: white;
}

.left-content {
	border-radius: 10px;
	border: none;
	padding: 0px;
	box-shadow: 0px 0px 5px 6px #ccc;
}

area.main-img {
    cursor: zoom-in;
}

.footer_section{
    font-size:18px;
}

.footer_info {
    background: #d2ecf7;
    padding: 25px 10px 15px 10px;
}

.footer_Logo img{
    width:100%;
}
.editorial {
    font-size: 18px;
    text-align: left;
    padding-left: 20px;
}

.address {
    font-size: 18px;
    text-align: left;
    padding-left: 20px;
}

.footer_copyright {
    background: #51aee7;
    padding: 10px 10px 10px 10px;
    color: white;
}
.copyright {
    color: white;
    font-size: 17px;
}
.developed {
    color: white;
    font-size: 17px;
}

.developed a {
    color: yellow;
    text-decoration: none;
    font-weight: 600;
}

.calendar_themesbazar {
    background-color: #0374b9;
    color: #fffbfb;
    padding: 6px;
    text-align: center;
    width: auto;
    font-size: 20px;
    margin-bottom: 0px;
    border: 1px solid #0374b9;
    border-bottom: none;
    font-weight: 400;
}
.category_content {
    border: 1px solid #0374b9;
    max-height: 280px;
    overflow-y: scroll;
    border-radius: 0px 0px 2px 2px;
}

.category_content ul li {
    background: #efeded;
}

.category_content ul li:hover {
    background: #d9d1d1;
}

.page_content {
    border: 1px solid #0374b9;
    max-height: 400px;
    overflow-y: scroll;
    background: #e9e4e4;
    border-radius: 0px 0px 2px 2px;
}


.page_content img {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.page_content ul li {
    margin: 8px;
    background: #f9f7f7;
    padding: 6px;
     border:1px solid white;
     border-radius: 5px;
}

.page_content ul li:hover {
    border:1px solid #962d22;
}

.page_number {
    width: max-content;
    background: #962d22;
    padding: 5px 8px;
    color: white;
    margin: 0px auto;
}
.modal-main-img img {
    max-width: 100%;
}


.modal-content {
    width: 90% !important;
    max-width: fit-content !important;
    margin: 0 auto;
}


.model_images img {
    width: 150px;
    float: left;
}

.customized_content {
    border-radius: 5px;
    margin-bottom: 25px;
}


.modal-head table {
    background-color: white;
}

.modal-head {
    margin-bottom: 0px;
    border-bottom: 1px solid #ccc;
}
.close_icon {
    float: right;
}

.close_icon button {
    background: #bf0000;
    color: white;
    border: none;
    padding: 12px;
    font-size: 20px;
}

.close_icon button:hover {
    background: #790202;
    color: white;
    border: none;
    padding: 12px;
    font-size: 20px;
}

.modal_footer {
    background-image: url('images/overlay.png');

    padding: 10px;
    overflow: hidden;
}

.social_share {
    float: left;
    width: 50%;
    text-align: left;
    margin-top: 5px;
}

.next_part {
    float: right;
    width: 50%;
    text-align: right;
}

.next_part button {
    display: none;
    background: #0056A3;
    padding: 5px;
    font-size: 18px;
}

.next_part button:hover {
    display: none;
    background: #962d22;
    padding: 5px;
}
.social_share button{
    margin-right : 10px;
}
.social_share i {
    font-size: 20px;
}

.sahre_on_print {
    padding: 5px 15px;
    font-size: 18px;
    color: #17a2b8;
    background: white;
    border: 1px solid #17a2b8;
    border-radius:5px;
}

.sahre_on_print:hover{
	color: #fff;
	background-color: #17a2b8;
	border-color: #17a2b8;

}

.share_on_twt {
    background-color: #1DA1F2;
    border-radius: 50%;
    padding: 6px 9px 6px 9px;
}

.share_on_twt:hover {
    background-color: #0575BA;
    border-radius: 50%;
    padding: 6px 9px 6px 9px;
}


.share_on_whats {
    background-color: #25D366;
    border-radius: 50%;
    padding: 6px 9px 6px 9px;
}

.share_on_whats:hover {
    background-color: #169A47;
    border-radius: 50%;
    padding: 6px 9px 6px 9px;
}



.share_on_linkedin {
    background-color: #0077B5;
    border-radius: 50%;
    padding: 6px 9px 6px 9px;
}

.share_on_linkedin:hover {
    background-color: #055C89;
    border-radius: 50%;
    padding: 6px 9px 6px 9px;
}





.share_on_fb {
    background-color: #3C5A98;
    border-radius: 50%;
    padding: 6px 13px 6px 13px;
}

.share_on_fb:hover {
    background-color: #1B4498;
    border-radius: 50%;
    padding: 6px 13px 6px 13px;
}

.single-page-div {
    border-radius: 10px;
    border: none;
    padding: 13px 0px;
    margin-top: 7px;
    box-shadow: 0px 0px 5px 6px #ccc;
}

.all_page_image {
    background: #ddd;
    padding: 6px;
    border: 1px solid #ddd;
}
.all_page_image:hover{
    border: 1px solid #962d22;
}

.all_page_name {
    padding: 5px;
    font-size: 18px;
    color: #2191c0;
    font-weight: 600;
}



